.fieldContainer {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	width: 500px;
	height: 500px;
	background-color: rgb(67, 67, 67);
	border-radius: 10px;
}

.squareContainer {
	width: 460px;
	height: 460px;
	background-color: rgb(34, 20, 67);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 20px;
	border-radius: 10px;
}

.square {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-end;
	width: 120px;
	height: 120px;
	background-color: rgb(55, 55, 96);
	border-radius: 5px;
	font-size: 100px;
	cursor: default;
	user-select: none;
}
