html {
	background-color: rgb(19, 0, 88);
}

body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	height: 700px;
}

.gameTitle {
	font-size: 20px;
	text-align: center;
	color: rgb(119, 0, 255);
}

.gameContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}
